{% extends "base.html" %}

{% block content %}

<!-- <div class="jumbotron">
    <h2>
       About us
    </h2>
    
        <h3>
            Title
        </h3>
        
        <p>“The influence of the cell membrane asymmetry and curvature on the functioning of membrane proteins and the transport of therapeutic compounds”</p>
        
        <hr>


        <h3>Research goals</h3>
        

        <p>Identify major physical factors which govern the physical shapes of cell’s membranes,  ii) to investigate diffusion of drugs and motions of large integral membrane proteins inside membranes.
        </p>

        Networking goal: To create large international network working on realistic membranes by computational and experimental techniques.
        

        Participants: Ukraine (coordinator), France, Latvia, Estonia, USA, Brazil.
        
        Stage: second year of funding.
        Financing: Full-time secondments to non-EU countries, research training, networking activities.
    </p>
 <!--    <p>
        <a class="btn btn-primary btn-large" href="#">Learn more</a>
    </p> -->


</div> -->
<div class="row">
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>

{% endblock %}